*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition:0.5s all;
}

:root
{
    --themeColor:#77f;
    --bgColor:#ddd;
    --txtThemeColor:#fff;
    --txtColor:#7d7;
}

body
{
    background: var(bgColor);
    font-family:arial;
}

/***header stuff***/
header
{
    display:flex;
    align-items:center;
    justify-content: space-around;
    color:var(--txtThemeColor);
    background:var(--themeColor);
    font-weight:500;
    padding:1vh 0vw;
}

#lives
{
	color:#7f7;
}

#timeLeft{
    font-size:2rem;
}

/****form stuff****/
form
{
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin-top:33vh;
    font-size:2rem;
    color:#88d;
}

input 
{
    font-size:1.5rem;
    padding:2px;
    outline:none;
    max-width:20vw;
    width:12vw;
    border:none;
    text-align:center;
    color:var(--themeColor);
}

#ANS
{
    border-bottom:3px solid var(--themeColor);
    color:var(--txtColor);
}
