 *{
  margin:0;
  padding:0;
  box-sizing:border-box;
  transition:0.10s all;
  user-select:none;
}

body
{
	height:100vh;
	width:100vw;
	background:rgb(0,0,0);
	color:rgb(205,205,205);
}

/***game Screen***/

#gameScreen
{
  height:100vmin;
  width:100vmin;
  position:relative;
  background:#000;
  display:inline-block;
  overflow:hidden;
} 

/***MyBox here***/
#scrBrd
{
	padding:3%;
	border-bottom-right-radius:10px;
	position: absolute;
	z-index:999;
	background:#8484e4;
	color:#000;
}
#myBox
{
  background:rgb(100,200,100);
  width:10%;
  height:10%;
  position:absolute;
  top:85%;
  left:10%;
  z-index:888;
}

#lives
{
	width:30%;
	height:5%;
	position: absolute;
	z-index:999;
	top:0;
	left:70%;
	appearance: none;
}

#lives::-webkit-progress-bar
{
	background:#454040;
	border-bottom-left-radius:10px;
}

#lives::-webkit-progress-value
{
	background:#8484e4;
	border-bottom-left-radius:10px;
}
/***My Box end***/

/***Obs here***/
.ostkl
{
  background:rgb(200,100,100);
  width:10%;
  height:10%;
  position:absolute;
  z-index:777;
}
.ostklLiv
{
	width:100%;
	height:20%;
}
/****Obs end***/

.bullet
{
	width:1%;
	height:1%;
	position:absolute;
	background:rgb(255,255,100);
	z-index:666;
}
/***Game ctrlr***/
.ctrlBtn
{
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:1.2rem;
	font-family:monospace;
	background:#232323;
}

.ctrlBtn:active
{
	background:#84e4ef;
	color:#000;
}

#shootBtn
{
	background:#8484e4;
	grid-area:shoot;
} 

#shootBtn:active
{
	background:#e48484;
}
.Up
{
	grid-area:up;
}

.Left
{
	grid-area:left;
}

.Right
{
	grid-area:right;
}

.Down
{
	grid-area:down;
}

#gameController
{
  display:grid;
  grid-template-areas:"up up up"
	"left shoot right"
	"down down down";
  width:100%;
  height:calc(100vh - 100vmin);
  position: relative;
}


/**Responsive here***/

@media only screen and (max-height:300px)
{
	#gameController
	{
		flex-direction:column;
		height:100%;
		width:calc(100vw - 100vmin);
		float:right;
	}
	
	#shootBtn
	{
		position:static;
	}
}